* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: "Marvel";
}

section {
    display: block;
}

main {
    margin-top: 70px;
}

div {
    display: block;
}

div:end {
    content: "";
    display: table;
    clear: both;
}

body {
    min-width: 320px;
    height: 100%;
    font-family: 'Roboto slab', sans-serif;
    color: #888888;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

#finder .info {
    position: relative;
    margin: 10px;
    width: 100%;
}

#finder {
    background-image: url("https://i.annihil.us/u/prod/marvel/html_blocks_assets/homepage/comics/2018/02/comics-desktop-022718.jpg");
    position: relative;
    height: 321px;
    top: 100%;
    width: 100%;
    border-bottom: 5px;
    margin-bottom: 50px;

}

#inputID {
    width: 500px;
    position: relative;
    height: 40px;
    margin-top: 2px;
    margin-left: 10px;
    font-size: 20pt;
    color: red;
    border-color: black;
    float: left;
}

#foundEvents {
    width: 500px;
    font-size: 20pt;
    float: left;
    visibility: hidden;
}

#loader {
    position: relative;
    border: 16px solid black;
    border-top: 16px solid red;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    visibility: hidden;
    margin-left: 35%;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.found {
    display: none;
    width: 500px;
    padding-left: 5px;
    position: relative;
    margin-left: 10px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: left;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    visibility: hidden;
    z-index: 1;
}

.title {
    position: relative;
    word-wrap: normal;
    width: 380px;
    text-align: center;
}

.description {
    overflow: auto;
    position: relative;
    word-wrap: normal;
    font-size: 15px;
    width: 380px;
    height: 60px;
    padding-left: 10px;
}

#loader {
    display: none;
    position: absolute;
    border: 16px solid black;
    border-top: 16px solid red;
    border-bottom: 16px solid red;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
    z-index: 2;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#timeline {
    height: 500px;
    z-index: 1;
}

.events {
    padding: 0 0 70px 0;
    position: relative;
    text-align: center;
}

.img {
    position: relative;
    cursor: pointer;
    height: 140px;
    width: 140px;
}

.zoomer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 441px;
    left: 0;
    display: none;
    text-align: center;
}

.zoomer_bg {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.zoomed_img {
    position: relative;
    z-index: 3;
    max-height: 80%;
    max-width: 80%;
    margin: 1%;
    padding-top: 180px;
}