* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: "Marvel";
}

section {
    display: block;
}

main {
    margin-top: 70px;
}

div {
    display: block;
}

div:end {
    content: "";
    display: table;
    clear: both;
}

body {
    min-width: 320px;
    height: 100%;
    font-family: 'Roboto slab', sans-serif;
    color: #888888;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.comic {
    position: relative;
    width: 50%;
    float: left;
}

.finder {
    background-image: url("https://i.annihil.us/u/prod/marvel/html_blocks_assets/homepage/comics/2018/02/comics-desktop-022718.jpg");
    position: relative;
    height: 321px;
    top: 100%;
    width: 100%;
    border-bottom: 5px;
    margin-bottom: 50px;

}

.finder .description {
    position: relative;
    margin: 10px;
    width: 100%;
}

#inputID {
    width: 500px;
    position: relative;
    height: 40px;
    margin-top: 2px;
    margin-left: 10px;
    font-size: 20pt;
    color: red;
    border-color: black;
    float: left;
}

#foundEvents {
    width: 500px;
    font-size: 20pt;
    float: left;
    visibility: hidden;
}

.found {
    width: 500px;
    height: 80px;
    position: relative;
    padding: 6px 6px;
    margin-left: 10px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: left;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    visibility: hidden;
}

#header-1, #header-1, #header-2 {
    position: relative;
    word-wrap: normal;
    width: 380px;
    text-align: center;
}

#description-1, #description-2, #description-3 {
    overflow: auto;
    position: relative;
    word-wrap: normal;
    font-size: 15px;
    width: 380px;
    height: 47px;
    padding-left: 10px;
}